# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jacki\OneDrive\Kea\CodeLab\CodeLab Exercises\1 Semester\Code\Arrays\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
